.p1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 60px;
    color: white;
}

.p2{
    display: flex;
    justify-content: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 60px;
    color: rgb(62, 176, 211);
}

.bouton{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10%;
    padding: 50px 50px;
}